            <tr {if isset($color)} style="background: {$color}" {/if}>
                <td align="center">{$n}</td>
                <td>{$ad->title}</td>
                <td>{$ad->price} руб.</td>
                <td>{$ad->seller_name}</td>
                <td>
                    <button type="button" id="{$ad->id}" class="delete btn btn-default btn-sm"><span class="glyphicon glyphicon-trash"></span></button>
                    <button type="button" id="{$ad->id}" class="edit btn btn-default btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>
                </td>
            </tr>  